@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #25272e;
    font-family: 'Concert One', cursive;
}

header {
    background-color: white;
    padding: 20px;
}

header > h1 {
    color: #25272e;
    text-align: center;
}

.choice > img {
    width: 120px;
    height: 120px;
}

.scoreboard {
    border: 3px solid white;
    border-radius: 6px;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
    text-transform: uppercase;
}

.badge {
    background-color: #e2584d;
    color: white;
    font-size: 16px;
    padding: 2px 10px;
}

#user-badge {
    position: absolute;
    top: 30px;
    left: -30px;
}

#comp-badge {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.result > p {
    text-align: center;
}

.choices {
    margin: 50px 0;
    text-align: center;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    padding: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background-color: #e2584d;
}

.action-message {
    color: white;
    text-align: center;
    font-size: 30px;
}